@{
    ViewData["Title"] = "Home Page";
}

@model Dish

<div class="text-center">
    <h1 class="display-4">@ViewBag.Dish.Name</h1>
    <h2>@ViewBag.Dish.ChefsName</h2> <a href=""><p>Home</p></a>
    <hr>
    <div>
    </div>
</div>